Repository AxelPet/Team-4-Lego-Project, changes with the owners that CODEOWNERS names for each.
All owners: @axelpet, @sebastian23000, @yasminebrahimi, @rebepekka

CODEOWNERS:

# HTML files should be reviewed by AxelPet
*.html    @axelpet


# CSS files should be reviewed by Sebastian
*.css     @sebastian23000



# JavaScript files should be reviewed by YasmineBrahimi
*.js      @yasminebrahimi


# PHP files should be reviewed by Rebepekka
*.php     @rebepekka

Create tyhjäpohja.html
  tyhjäpohja.html
Owners: @axelpet

Update tyhjäpohja.html
  tyhjäpohja.html
Owners: @axelpet

uploading html file
  exercise2.html
Owners: @axelpet

Update tyhjäpohja.html (#10)
  tyhjäpohja.html
Owners: @axelpet

uploading html file (#11)
  exercise2.html
Owners: @axelpet

Create test.css
  test.css
Owners: @sebastian23000

PHP file
  phpfileupload.php
Owners: @rebepekka

Create test.js
  test.js
Owners: @yasminebrahimi

Update test.css
  test.css
Owners: @sebastian23000
